//Header button

.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    background: #fff;
    height: 3px;
    width: 28px;
    margin: 0px 0px 3px 0px;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
      }
    }
  }
}
